@import "../styles/variables";

.article {

    
    &__content {
        margin-top: -2.5rem;
        line-height: 1.6em;
        font-size: 1.2em;
        margin-right: 4rem;
    
    
        h1, h2, h3, h4, h5, h6 {
            color: $primary-color;
            font-size: 2.25em;
            margin: 3.5rem 0rem 1.5rem;
        }
    
        ul, ol {
            margin: 2rem 0rem 2rem 2rem;
    
            li {
                margin: 0.5rem 0rem;
            }
        }

        p {
            margin-bottom: 2rem;
        }
    }


}