@import '../../styles/variables';


.article {
    font-size: 1.2rem;
    line-height: 1.58;

    h1 {font-size: 2.5em;}
    h2 {font-size: 2.25em;}
    h3 {font-size: 2em;}
    h4 {font-size: 1.75em;}
    h5 {font-size: 1.5em;}
    h6 {font-size: 1.25em;}
    
    h1, h2, h3, h4, h5, h6 {
        color: $primary-color;
        margin: 3rem 0rem 1rem;
        line-height: 1.6em;
    }

    ul, ol {
        margin: 2rem 0rem 2rem 2rem;

        li {
            margin: 0.5rem 0rem;
        }
    }

    p {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    a {
        color: inherit;
    }

    figure {
        margin-bottom: 2rem;
    }

    figcaption {
        font-size: 0.7em;
        color: $shade-7;
        text-align: center;
    }

    code, div {
        margin-bottom: 2rem !important;
    }
}