@import "../../styles/variables";

$hero-offset: 2rem;

.common {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;

    &--max-width {
        margin: 0px auto;
        max-width: $desktop;
    }

    &__right {
        width: 100%;
        min-width: 600px;
        margin-top: $hero-offset + 2;
        margin-right: 4rem;

        &--max-width {
            max-width: 880px;
        }

        h1, h2, h3, h4, h5, h6 {
            position: relative;
        }
    }

    &__left {
        z-index: 100;
        width: 100%;
        max-width: 460px;
        margin-top: $hero-offset;

        &--sticky {
            position: sticky;
            top: 120px;
        }
    }
}


@media (max-width: $desktop) {
    .common {
        justify-content: space-around;

        &__right {
            padding: 0rem 1rem 0rem 2rem;
            width: 800px;
        }

        &__left {
            max-width: 30%;
            width: inherit;
            padding-right: 2rem;
        }
    }
}

@media (max-width: $desktop-small) {
    .common {

        // section {
        //     padding-right: 0rem;
        // }

        &__right {
            padding: 0rem 1rem 0rem 1rem;
            width: 100%;
        }

        &__left {
            display: none;
            visibility: hidden;
        }
    }
}

@media (max-width: $tablet-large) {
    .common {
        &__right {
            min-width: unset;
            margin-right: 0rem;
        }
    }
}


@media (max-width: $phone) {
    .common {
        // &__section__title {
        //     margin-bottom: 3rem;
        // }
        // section {
        //     margin-bottom: 4rem;
        // }
    }
}

