@import '../../styles/variables';

.list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

    &--h {
        flex-direction: row;
        align-content: center;
        justify-content: space-around;

        @media (max-width: $tablet-large) {
            flex-direction: column;
        }
    }

    &--v {
        flex-direction: column;
        text-align: center;
    }
}