@import "../../styles/_variables";

.toc {
    list-style-type: none;

    &__item {
        &:hover, &.active {
            background-color: $shade-2;
            border-radius: $border-radius;
            cursor: pointer;
        }
    }

    &__link {
        text-decoration: none;
        color: $shade-8;
        font-size: 1.3rem;
        padding: 1rem;
        display: block;
    }

    &__anchor {
        position: absolute;
        // top: -140px;
    }
}