@font-face {
    font-family: raleway;
    src:url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('../fonts/raleway-regular-webfont.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face { 
    font-family: consolas; 
    src:url('../fonts/Consolas.woff') format('woff');
}