// Resolutions
$tablet-large: 768px;

// brands
$brand-white: hsl(0, 0%, 100%);
$brand-black: hsl(0, 0%, 4%);
$brand-light: hsl(0, 0%, 96);
$brand-dark: hsl(0, 0%, 21%);
$brand-primary: hsl(171, 100%, 41%);
$brand-link: hsl(217, 71%, 53%);
$brand-info: hsl(204, 86%, 53%);
$brand-success: hsl(141, 71%, 48%);
$brand-warning: hsl(48, 100%, 67%);
$brand-danger: hsl(348, 100%, 61%);//  #FF3860

// shades
$shade-9: hsl(0, 0%, 8%);
$shade-8: hsl(0, 0%, 25%);
$shade-7: hsl(0, 0%, 35%);
$shade-6: hsl(0, 0%, 48%);
$shade-5: hsl(0, 0%, 58%);
$shade-4: hsl(0, 0%, 68%);
$shade-3: hsl(0, 0%, 78%);
$shade-2: hsl(0, 0%, 88%);
$shade-1: hsl(0, 0%, 95%);

// primary colors
$primary-color-9: hsl(222, 89%, 9%);
$primary-color-8: hsl(222, 89%, 19%);
$primary-color-7: hsl(222, 89%, 29%);
$primary-color-6: hsl(222, 89%, 39%);
$primary-color-5: hsl(222, 89%, 49%);
$primary-color-4: hsl(222, 89%, 59%);
$primary-color-3: hsl(222, 89%, 69%);
$primary-color-2: hsl(222, 89%, 79%);
$primary-color-1: hsl(222, 89%, 89%);

// accent colors
$accent-color-9:  hsl(40, 100%, 10%);
$accent-color-8:  hsl(40, 100%, 20%);
$accent-color-7:  hsl(40, 100%, 30%);
$accent-color-6:  hsl(40, 100%, 40%);
$accent-color-5:  hsl(40, 100%, 50%);
$accent-color-4:  hsl(40, 100%, 60%);
$accent-color-3:  hsl(40, 100%, 70%);
$accent-color-2:  hsl(40, 100%, 80%);
$accent-color-1:  hsl(40, 100%, 90%);