@import "../styles/variables";

.about {
    padding: 1rem;
    color: $about-color;

    &__header {
        font-size: 1.45em;
        text-align: center;
        color: $about-header-color;
    }

    &__intro {
        color: $about-paragraph-color;
        padding: 4px 0px;
        font-size: $about-paragraph-font-size;

        strong {
            color: $about-paragraph-strong-color;
        }
    }

    &__me {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0px;

        &__header {
            color: $about-header-color;
            font-size: 28px;
            margin: 0;
        }

        &__details {
            list-style-type: circle;
            margin-left: 20px;

            &__item {
                margin-bottom: 12px;
                margin-top: 20px;
                font-size: $about-paragraph-font-size;
                color: $about-paragraph-color;
            }
        }

        &__link {
            font-size: 1.25rem;
        }
    }
}

.profile-pic {
    padding:1px;
    border:1px solid $about-profile-pic-border-color;
    margin-bottom: 1rem;
    box-shadow: $about-profile-pic-box-shadow;
}

@media (min-width: 645px) {
    .profile-pic {
        width: $about-max-pic-width;
        height: $about-max-pic-width;
        flex-basis: $about-max-pic-width;
    }

    
    .about {
        &__greetings {
            display: flex;
            padding-bottom: 2rem;

            &:last-child {
                padding-top: 4rem;
            }

            &__intro {
                display: flex;
                flex-direction: column;
                align-self: center;
                padding: 0rem 1rem;
                width: calc(100% - #{$about-max-pic-width});
                flex-basis: calc(100% - #{$about-max-pic-width});
                text-align: center;
            }
        }

        &__me {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-rows: auto;
            grid-column-gap: 10px;
            grid-row-gap: 16px;
            padding: 3rem 0rem 2rem;

            &__header {
                padding: 0rem 1rem;
            }

            &__link {
                grid-column-start: 2;
                grid-row-start: 2;
            }

            &__details__item {
                margin-top: 0px
            }
        }
    }
}
