$primary-color: #FF3860;
$accent-color:  #79FF38;
$dark-shade: #3d171f;
$light-shade: #ebcad1;

$tablet-large: 768px;

$max-pic-width: 300px;
$greetings-intro-padding: 1rem;

.about {
    padding: 1rem;
    color: #333;

    &__header {
        font-size: 1.45em;
        text-align: center;
        color: $primary-color;
    }

    &__intro {
        padding: 4px 0px;
        font-size: 1.15rem;
    }

    &__me {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 1rem 0px;

        &__header {
            color: $primary-color;
            font-size: 28px;
        }

        &__details {
            list-style-type: circle;
            margin-left: 20px;

            &__item {
                margin-bottom: 12px;
                margin-top: 20px;
            }
        }

        &__link {
            font-size: 1.25rem;
        }
    }
}

.profile-pic {
    margin-bottom: 1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   padding:1px;
   border:1px solid #021a40;
}

@media (min-width: 676px) {
    .profile-pic {
        width: $max-pic-width;
        height: $max-pic-width;
        flex-basis: $max-pic-width;
    }

    
    .about {
        &__greetings {
            display: flex;

            &__intro {
                box-sizing: border-box;
                padding: $greetings-intro-padding;
                width: calc(100% - #{$max-pic-width});
                flex-basis: calc(100% - #{$max-pic-width});
                text-align: center;
            }
        }

        &__me {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-rows: auto;
            grid-column-gap: 10px;
            grid-row-gap: 16px;
            padding: 24px 24px 24px 0px;

            &__header {

            }

            &__link {
                grid-column-start: 2;
                grid-row-start: 2;
            }

            &__details__item {
                margin-top: 0px
            }
        }
    }
}

@media (min-width: 1080px) {
    .about__greetings__intro {
        padding: 2rem;
    }
}
