@import "../styles/variables";

.contact {
    padding: 1rem;

    &__text {
        color: $contact-text-color;
        font-size: $contact-text-font-size;
        text-align: center;
    }
}

.field {
    width: 100%;
    padding: 1rem;
    border: 2px solid $contact-field-border-color;
    border-bottom-width: 0px;
    display: flex;
    flex-direction: column;
    outline: none;

    // text area
    &:nth-child(3) {
        border-bottom-width: 2px;
    }

    &.active {
        border-color: $contact-field-border-color--active;
        border-bottom-width: 2px;
        z-index: 20;

        & > label {
            color: $contact-field-label-color--active;
        }
    }

    & > label {
        font-size: .8rem;
        color: $contact-field-label-color;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    &__input[type=text], &__input[type=email], > textarea {
        outline: none;
        padding: 8px;
        color: $contact-input-color;
        font-size: 1rem;
        font-weight: 700;
        background:$contact-input-background-color; 
        border: 0px solid transparent;
    }

    > textarea {
        resize: vertical;
    }
}

.btn {
    color: $contact-submit-btn-color;
    padding: 1rem;
    font-size: 1.25em;
    font-weight: 700;
    background: $contact-submit-btn-background;
    border: 0px solid transparent;
    width: 100%;
    margin: 1rem 0px ;
}

@media (min-width: $tablet-large) {
    .contact {
        width: $tablet-large;
        margin: auto;

        &__text {
            text-align: center;
            width: $tablet-large / 1.5;
            margin: 2rem auto;
        }
    }
}

