@import "../styles/variables";

.personal {
    margin-top: 9rem;
    margin-bottom: 3rem;

    &__section {
        width: 675px;
        margin: auto;
        margin-bottom: 2rem;
        padding-right: 1rem;
    }

    &__description {
        text-align: center;
        padding: 0rem 1rem;
    }
}

