@import "../styles/variables";

#index--page-anchor {
    display: block;
    position: relative;
    top: -$nav-height;
    visibility: hidden;
}

.home--background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    mix-blend-mode: hard-light;

    &:after {
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background: linear-gradient(transparent, gray);
    }
}

.home {
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    
    &__header {
        height: $index-header-height;
        margin-bottom: $index-header-bottom-margin;
        color: $index-header-color;
        padding: 0px 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        
        &--name {
            margin: 0;
            font-family: Impacto, Impact, sans-serif;
            font-size: 72px;
            font-weight: 300;

            &--space {
                padding: 20px;
                font-family: inherit;
            }

        }

        &--title {
            margin: 0;
            color: $index-header-title-color;
            font-size: 26px;
            font-weight: 100;
        }
        
        &__description {
            color: $index-header-title-color;
            font-size: 1.15rem;
        }

        &--learn {
            font-size: 1.15rem;
            color: $shade-6;

            &:hover {
                color: $shade-8;
            }
        }

        &--scroller {
            width: 46px;
            height: 46px;
            position: absolute;
            bottom: 60px;
            left: 50%;
            margin-left: -(46px/2px) + px;
            
            border: 1px solid $shade-9;
            border-radius: 100%;
            box-sizing: border-box;
            transition: border-color .25s ease;

            &:after {
                content: "";
                position: absolute;
                top: 25%;
                left: 32.5%;
                width: 16px;
                height: 16px;
                border-left: 1px solid $shade-9;
                border-bottom: 1px solid $shade-9;
                transform: rotate(-45deg);
                box-sizing: border-box;
            }

            &:hover {
                border-color: $shade-7;
                cursor: pointer;

                &:after {
                    border-color: $shade-7;
                }
            }
        }
    }

    &__section {
        padding: 0rem 1rem;

        &__list {
            display: flex;
            flex-direction: column;

            &__item {
                text-decoration: none;
                color: $shade-8;
                padding: 12px 8px;
                font-size: 1.3rem;
                display: grid;
                grid-template-rows: 1fr; 
                grid-gap: 8px;
                align-items: center;
                justify-content: center;
    
                &:hover {
                    background-color: $shade-2;
                    cursor: pointer;
                }
    
                .gatsby-image-wrapper {
                    width:  45px;
                    height: 45px;
                    margin: auto;
                }
            }
        }

        h1 {
            margin: 2rem 0rem;
            font-size: 2.2rem;
            color: $shade-9;
        }

    }

    &--work {
        &__item {
            grid-template-columns: 50px 1fr 0.4fr; 
        }
    }

    &--school {
        &__item {
            grid-template-columns: 50px 1fr 0.6fr;
        }
    }

    &--projects {
        &__item {
            grid-template-columns: 50px 30px 0.45fr 1fr;
            
            &--✔ {
                color: $brand-success;
                font-size: 2rem;
            }

            &--⚠ {
                color: $accent-color-5;
                font-size: 2rem;
            }
        }
    }

    &--volunteer {
        &__item {
            grid-template-columns: 0.25fr 1fr; 
        }
    }
}

@media (max-width: $tablet-large) {
    .home {
        &--school {
            &__item {
                grid-template-columns: 50px 1fr;

                small {
                    grid-column: 2;
                }
            }
        }

        &--projects {
            &__item {
                grid-template-columns: 50px 30px 1fr;
            }
        }

        &--work {
            &__item {
                grid-template-columns: 50px 1fr;

                small {
                    grid-column: 2;
                }
            }
        }
    }
}