@import "../styles/variables";

.home--background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.home {
    width: 100%;
    height: 100%;
    
    &__header {
        height: $index-header-height;
        margin-bottom: $index-header-bottom-margin;
        color: $index-header-color;
        padding: 0px 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        
        &--name {
            margin: 0;
            font-family: Impacto, Impact, sans-serif;
            font-size: 72px;
            font-weight: 300;

            &--space {
                padding: 20px;
                font-family: inherit;
            }

        }

        &--title {
            margin: 0;
            color: $index-header-title-color;
            font-size: 26px;
            font-weight: 100;
        }
        
        &__description {
            color: $index-header-title-color;
            font-size: 1.15rem;
        }

        &--learn {
            font-size: 1.15rem;
            color: $shade-6;

            &:hover {
                color: $shade-8;
            }
        }
    }

    &__section {
    }

    &--work {

    }

    &--projects {

    }

    &--school {

    }

    &--volunteer {

    }
}