$primary-color: #FF3860;
$accent-color:  #79FF38;
$dark-shade: #3d171f;
$light-shade: #ebcad1;


.personal {
    padding: 1rem;

    &__header {
        color: $primary-color;
    }
}

.tag {
    margin: 0px 4px;
    padding: 4px;
    border-radius: 5px;
    color: $dark-shade;
    background: $accent-color;
    line-height: 2rem;
}

.card {
    margin: 2rem 0px;
    position: relative;
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &:after {
        content: "";
        position: absolute;
        width: 95%;
        height: 100%;
        top: 5%;
        left: calc(5% / 2);
        z-index: -1;
        border-radius: 50px;
        filter: blur(10px);
    }

    &__content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3, h5 {
            line-height: 2rem;
            color: #fff;
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__tags {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            align-self: center;
            max-width: 100%;
            box-sizing: border-box;
            display: inline-block;
        }

        &__link {
            width: 32px;
            height: 32px;
            margin-left: 1rem;
            filter: invert(1);
        }
    }
}