$primary-color: #FF3860;
$accent-color:  #79FF38;
$dark-shade: #3d171f;
$light-shade: #ebcad1;

$tablet-large: 768px;

.work {
    padding-top: 1rem;

    &__header {
        padding: 1rem;
        color: $primary-color;
    }

    &__description {
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }

    &__timeline {
        list-style-type: none;
        padding: 60px 0 24px;
        margin: 3rem 1.5rem 3.75rem 1.25rem;
        position: relative;
        z-index: 10;
        clear: both;
        width: calc(100% - 2.75rem);
        border-left: 4px solid $primary-color;

        &::before, &::after {
            font-size: 1.25rem;
            position: absolute;
            left: 55px;
            z-index: 10;
            content: "";
            display: block;
            line-height: normal;
            width: auto;
            color: #000;
        }

        &::before {
            content: attr(endyear);
            position: absolute;
            top: -2px;
        }

        &::after {
            content: attr(startyear);
            top: calc(100% - 21px);
        }

        &__event {
            position: relative;
            padding-bottom: 1.5rem;
            padding-left: 1.75rem;
            z-index: 10;
            clear: both;
            width: 100%;
            transition: transform .2s ease-out, opacity .3s ease-out;

            &--circle, &--circle--top, &--circle--bottom {
                border: 4px solid $primary-color;
                height: 18px;
                width: 18px;
                position: absolute;
                top: 25px;
                left: -11px;
                z-index: 5;
                border-radius: 50%;
                background: #f1f1f1;
            }
            
            &--circle--top {
                top: 0px;
                background: $primary-color;
            }

            &--circle--bottom {
                position: relative;
                margin-top: 5px;
                background: $primary-color;
            }


            &__details {
                padding: 1rem;
                position: relative;
                border-radius: 5px;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                filter: drop-shadow(0 2px 0 rgba(0,0,0,.1));
                line-height: 1.5rem;

                &::before {
                    height: 0;
                    width: 0;
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    border: 10px solid hsla(0,0%,100%,0);
                    border-right-color: #fff;
                    left: -20px;
                    top: 24px;
                }
            }
        }
    }

    &__btn {
        text-align: center;
        padding: 1rem;
        border: 1px solid #000000;
        margin: 2rem;
        cursor: pointer;
    }
}

.skills {

    &--section {
        padding: 1rem;
        clear: both;

        .header {
            padding-bottom: 2rem;
        }
    }

    &__type {
        box-sizing: border-box;
        padding: 1rem;


        &__header {
            color: $primary-color;
            font-size: 1.25rem;
        }

        &__list {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                padding: 4px;
                margin: 4px;
                background-color: $accent-color;
                border-radius: 5px;
            }
        }
    }
}

@media (min-width: $tablet-large) {
    .skills {
        display: flex;
        flex-wrap: wrap;

        &__type {
            width: 50%;

            &__list {
            }
        }
    }
}

.event {
    &__header {
        color: #000;
        margin: 0;
        font-size: 1.25rem;

        > small {
            font-weight: 300;
        }
    }

    &__dates {
        color: #333;
        margin-bottom: 20px;
        font-size: 18px;
    }

    &__description {
        color: #333;
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 20px;
    }
}

@media (min-width: $tablet-large) {
    .work {
        clear: both;

        &__timeline {
            margin: 3rem 0;
            width: 50%;
            float: right;

            &__event {

                &:nth-child(even) {
                    position: absolute;
                    left: 0;
                    margin-left: -100%;
                    padding-left: 0rem;
                    padding-right: 1.75rem;

                    .work__timeline__event--circle {
                        right: -7px;
                        left: unset;
                    }

                    .work__timeline__event__details::before {
                        left: unset;
                        right: -20px;
                        border-left-color: #fff;
                        border-right-color: transparent;
                    }
                }

                &:nth-child(odd) {
                    margin-top: 200px;

                    .work__timeline__event--circle {
                        margin-top: 0px;
                    }
                }
            }
        }

        &__btn {
            width: 300px;
            margin: 0px auto 2rem auto;
        }
    }
}