@import "../styles/variables";

.work {
    padding-top: 1rem;
    color: $work-color;

    &__description {
        margin: 1rem 2rem 0rem 2rem;
        text-align: center;
        font-size: $work-description-font-size;
        line-height: 1.4rem;

        &--resume {
            margin-bottom: 2rem;
        }
    }

    &__timeline {
        width: calc(100% - 2.75rem);
        padding: 60px 0 24px;
        margin: 3rem 1.5rem 3.75rem 1.25rem;
        position: relative;
        z-index: 10;
        clear: both;
        list-style-type: none;
        border-left: 4px solid $work-timeline-border-color;

        &::before, &::after {
            font-size: 1.25rem;
            position: absolute;
            left: 55px;
            z-index: 10;
            content: "";
            display: block;
            line-height: normal;
            width: auto;
            color: #000;
        }

        &::before {
            content: attr(endyear);
            position: absolute;
            top: -2px;
        }

        &::after {
            content: attr(startyear);
            top: calc(100% - 21px);
        }

        &__event {
            position: relative;
            padding-bottom: 1.5rem;
            padding-left: 1.75rem;
            z-index: 10;
            clear: both;
            width: 100%;
            transition: transform .2s ease-out, opacity .3s ease-out;

            &--circle, &--circle--top, &--circle--bottom {
                border: 4px solid $work-timeline-border-color;
                height: 18px;
                width: 18px;
                position: absolute;
                top: 25px;
                left: -11px;
                z-index: 5;
                border-radius: 50%;
                background: $work-timeline-background-color;
            }
            
            &--circle--top {
                top: 0px;
                background: $work-timeline-border-color;
            }

            &--circle--bottom {
                position: relative;
                margin-top: 5px;
                background: $work-timeline-border-color;
            }


            &__details {
                padding: 1.5rem;
                position: relative;
                box-shadow: $work-timeline-box-shadow;
                // filter: drop-shadow(0 2px 0 rgba(0,0,0,.1));
                line-height: 1.5rem;

                &::before {
                    height: 0;
                    width: 0;
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    border: 10px solid hsla(0,0%,100%,0);
                    border-right-color: $shade-1;
                    left: -20px;
                    top: 24px;
                }
            }
        }
    }

    &__btn {
        text-align: center;
        padding: 1rem;
        border: 1px solid #000000;
        margin: 2rem;
        cursor: pointer;
    }
}

.event {
    color: $work-event-color;

    &__header {
        color: $work-event-header-color;
        margin: 0;
        font-size: 1.25rem;

        > small {
            font-weight: 300;
        }
    }

    &__dates {
        margin-bottom: 20px;
        font-size: 18px;
    }

    &__description {
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 20px;
    }
}

@media (min-width: $tablet-large) {
    .work {
        clear: both;

        &__timeline {
            margin: 3rem 0;
            width: 50%;
            float: right;

            &__event {

                &:nth-child(even) {
                    position: absolute;
                    left: 0;
                    margin-left: -100%;
                    padding-left: 0rem;
                    padding-right: 1.75rem;

                    .work__timeline__event--circle {
                        right: -7px;
                        left: unset;
                    }

                    .work__timeline__event__details::before {
                        left: unset;
                        right: -20px;
                        border-left-color: #fff;
                        border-right-color: transparent;
                    }
                }

                &:nth-child(odd) {
                    margin-top: 200px;

                    .work__timeline__event--circle {
                        margin-top: 0px;
                    }
                }
            }
        }

        &__btn {
            width: 300px;
            margin: 0px auto 2rem auto;
        }
    }
}

.school--section {
    clear: both;

    &__item {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-gap: 1rem;
        align-self: center;

        padding: 2rem;
        margin: 2rem 0rem;
        font-size: 1.3rem;
        color: $shade-8;

        transition: box-shadow .25s ease;

        &:hover {
            box-shadow: $nav-box-shadow;
        }

        .gatsby-image-wrapper {
            width: 35px;
            height: 35px;
            margin: auto;
        }
        
        &__description {
            grid-column: 2;
            font-size: 1rem;
        }
    }
}

.volunteer--section {
    &__item {
        display: grid;
        grid-template-columns: 140px 100px 1fr;
        grid-gap: 1rem;
        align-self: center;

        padding: 2rem;
        margin: 1rem 0rem;
        font-size: 1.3rem;
        color: $shade-8;

        transition: box-shadow .25s ease;

        &:hover {
            box-shadow: $nav-box-shadow;
        }

        &__description {
            grid-column-start: 1;
            grid-column-end: 4;
            font-size: 1rem;
        }
    }
}

@media (max-width: $tablet-large) {
    .volunteer--section {
        &__item {
            grid-template-columns: 140px 100px;

            &__job {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
}

.skills {

    &--section {
        padding: 1rem;
        clear: both;

        .header {
            padding-bottom: 2rem;
        }
    }

    &__type {
        box-sizing: border-box;
        padding: 1rem;


        &__header {
            color: $work-timeline-border-color;
            font-size: 1.25rem;
        }

        &__list {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                padding: 4px 16px;
                margin: 4px;
                background-color: $accent-color-5;
                border-radius: 35px;
            }
        }
    }
}

@media (min-width: $tablet-large) {
    .skills {
        display: flex;
        flex-wrap: wrap;

        &__type {
            width: 50%;

            &__list {
            }
        }
    }
}