@import "../styles/variables";


.footer {
    position: relative;
    padding: 1rem 1rem 0rem 1rem;
    background-color: $nav-background;
    color: $shade-0;

    &--row {
        display: flex;
        flex-direction: column;
    }

    &--column {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &--index {
        z-index: 200;
    }

    &--curve {
        position: absolute;
        bottom: 228px;
        right: -1px;
        left: -1px;
        z-index: 10;
    }

    &__bottom {
        position: relative;
        overflow: hidden;
        height: 110px;
        display: flex;
        align-items: flex-end;

        p {
            margin-left: 165px;
        }

        &--head {
            position: absolute;
            bottom:-50px;
            left: 0px;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        &__item {
            margin-right: 1rem;

            &--social {
                grid-template-columns: 30px 1fr;
            }
        }
    }

    &__email {
        color: $shade-0;
    }

    // &__top {
    //     padding: 1rem;
    //     display: flex;
    //     flex-direction: column;

    //     &__site {
    //         margin: 0rem 1rem;
    //         &__list {
    //             list-style-type: none;
    //             margin-bottom: 1rem;

    //             &.wrap {
    //                 display: flex;
    //                 flex-wrap: wrap;
    //             }
    
    //             li {
    //                 flex: 1 0 33%;
    //                 margin: 8px 8px 8px 0px;
    //             }
    //         }
    //     }
    // }

    // &__bottom {
    //     margin-top: 1rem;
    //     border-top: 1px solid $footer-bottom-border-color;
    //     padding-top: 1rem;
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //     justify-content: center;

    //     &__copyright {
    //         margin-bottom: 1rem 0;
    //     }
    // }

    // .link {
    //     color: $nav-link-color;

    //     &:hover {
    //         color: $nav-link-color-hover;
    //     }
    // }
}

@media (min-width: $tablet-large) {
    .footer {
        &__top {
            flex-direction: row;
    
            &__about {
                width: 50%;
            }
    
            &__blog {
                width: 25%;
            }
    
            &__site {
                width: 25%;
            }
        }

        &__bottom {
            flex-direction: row;
            flex-direction: row;
            justify-content: space-between;
            text-align: start;
            padding: 0rem 1rem;

            &__copyright {
                line-height: 4rem;
            }

            > * {
                width: 75%;
            }
        }
    }
}