@import "../styles/variables";


.footer {
    bottom: 0;
    padding: 1rem;
    background-color: $nav-background;
    color: $nav-link-color;

    &__top {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        &__site__list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;

            li {
                flex: 1 0 33%;
                margin: 5px;
            }
        }
    }

    &__bottom {
        margin-top: 1rem;
        border-top: 1px solid $footer-bottom-border-color;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        &__copyright {
            margin-bottom: 1rem 0;
        }
    }

    .link {
        color: $nav-link-color;

        &:hover {
            color: $nav-link-color-hover;
        }
    }
}

@media (min-width: $tablet-large) {
    .footer {
        &__top {
            flex-direction: row;
    
            &__about {
                width: 50%;
            }
    
            &__blog {
                width: 25%;
            }
    
            &__site {
                width: 25%;
            }
        }

        &__bottom {
            flex-direction: row;

            &__copyright {
                line-height: 3.4rem;
            }

            > * {
                width: 100%;
            }
        }
    }
}