@import "../styles/variables";

$header-block-height: 200px;
$header-curve-height: 100px;
$height: $header-block-height + $header-curve-height;

$offset-height: 60px;

.hero {
    min-height: $height;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $primary-color;
    box-sizing: border-box;
    padding: 1rem 0rem;

    &--container {
        margin-top: $offset-height;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &--flex {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    &--z-index {
        z-index: 100;
    }

    &--content {
        padding-left: 2rem;
        padding-bottom: $offset-height;
        width: 100%;
    }

    &--p0 {
        padding: 0px;
    }
    
    &__title {
        font-size: 3em;
        color: $shade-0;
    }

    &__description {
        font-size: 1.5em;
        color: $shade-0;
        margin-top: 1.75rem;
        margin-bottom: 1rem;
    }

    &__date {
        margin: 0px;
        padding: 0px;
        color: $shade-0;
        position: absolute;
        right: 30px;
    }

    &__link {
        padding-left: 2rem;
        font-size: 1.2em;
        color: $shade-0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;

        &__item {
            padding: 0px 0.25rem;
            margin-bottom: 1rem;

            &:first-child {
                padding-left: 0rem;
            }
        }
    }

    &__curve {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -103px;

        svg {
            width: 100%;
            height: 100px;
        }
    }
}

@media (max-width: $desktop) {
    .hero {
        padding-left: 3rem;
    }
}

@media (max-width: $desktop-small) {
    .hero {
        &--flex {
            flex-direction: column;
        }

        &__link {
            padding-left: 0rem;
        }

        &__date {
            position: relative;
            right: 0px;
        }
    }
}

@media (max-width: $tablet-large) {
    .hero {
        padding-top: 0rem;
        padding-left: 0rem;

        &--children {
            display: none;
            visibility: hidden;
        }

        &__curve {
            bottom: -53px;
            svg {
                height: 50px;
            }
        }

        &--p0 {
            padding-left: 2rem;
        }
    }
}

@media (max-width: $phone) {
    .hero {
        
        &--p0 {
            padding: unset;
        }
        
        &--content {
            padding: 0rem 1rem;
        }


        &__curve {
            bottom: -23px;
            svg {
                height: 20px;
            }
        }

    }
}