@import "../styles/variables";

$header-block-height: 200px;
$header-curve-height: 100px;
$height: $header-block-height + $header-curve-height;

$offset-height: 60px;

.hero {
    height: $height;
    display: flex;
    align-items: center;
    position: relative;

    &--container {
        margin-top: $offset-height;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &--flex {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    &--p0 {
        padding: 0px !important;
    }

    &--z-index {
        z-index: 100;
    }

    &--content {
        padding-left: 2rem;
        padding-bottom: $offset-height;
        width: 100%;
    }
    
    &__title {
        font-size: 3em;
        color: $shade-0;
        font-weight: bold;
    }

    &__description {
        font-size: 1.5em;
        color: $shade-0;
        margin-bottom: 2rem;
        margin-top: 0rem;
        font-weight: bold;
    }

    &__date {
        margin: 0px;
        padding: 0px;
        color: $shade-0;
        position: absolute;
        right: 30px;
    }

    &__link {
        padding-left: 2rem;
        font-size: 1.2em;
        font-weight: 700;
        color: $shade-0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        &__item {
            padding: 0px 0.25rem;

            &:first-child {
                padding-left: 0rem;
            }
        }
    }

    &__curve {
        position: absolute;
        top: -1;
        left: 0;
        right: 0;
    }
}