@import "../styles/variables";


.hero {
    height: 400px;
    background-color: $primary-color;
    display: flex;
    align-items: center;

    &--flex {
        display: flex;
        flex-direction: column;
    }
    
    &__title {
        font-size: 3em;
        color: $shade-0;
        font-weight: bold;
    }

    &__description {
        font-size: 1.5em;
        color: $shade-0;
        margin-bottom: 2rem;
        margin-top: 0rem;
        font-weight: bold;
    }

    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        &__item {
            padding: 0px 0.25rem;

            &:first-child {
                padding-left: 0rem;
            }
        }
    }
}