// Resolutions
$mobile-small: 240px;
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;
$screen-large: 1280px;

// brands
$brand-white: hsl(0, 0%, 100%);
$brand-black: hsl(0, 0%, 4%);
$brand-light: hsl(0, 0%, 96);
$brand-dark: hsl(0, 0%, 21%);
$brand-primary: hsl(171, 100%, 41%);
$brand-link: hsl(217, 71%, 53%);
$brand-info: hsl(204, 86%, 53%);
$brand-success: hsl(141, 71%, 48%);
$brand-warning: hsl(48, 100%, 67%);
$brand-danger: hsl(348, 100%, 61%);//  #FF3860

// shades
$shade-black: hsl(0, 0%, 7%);
$shade-dark: hsl(0, 0%, 14%);
$shade-black-gray: hsl(0, 0%, 21%);
$shade-dark-gray: hsl(0, 0%, 29%);
$shade-light-gray: hsl(0, 0%, 71%);
$shade-black-white: hsl(0, 0%, 86%);
$shade-dark-white: hsl(0, 0%, 96%);
$shade-white: hsl(0, 0%, 98%);

$primary-color: #FF3860;
$accent-color:  #79FF38;
$dark-shade: #3d171f;
$light-shade: #ebcad1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    margin: 1rem 0px;
}

$nav-width: 100%;
$nav-height: 72px;
$nav-padding: 8px;
$nav-background: $brand-danger;
$nav-z-index: 20;

$nav-link-color: #000;
$nav-link-color-hover: #777;
$nav-link-padding: 0px 4px;
$nav-mobile-transform-animation: transform .5s cubic-bezier(.4,0,.2,1), opacity .5s cubic-bezier(.4,0,.2,1);

.page {
    margin-top: $nav-height;

    &--content {
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

.link {
    position: relative;
    color: $nav-link-color;
    transition: color .3s ease;
    padding: $nav-link-padding;
    text-decoration: inherit;
    white-space: nowrap;


    &::after {
        content: "";
        position: absolute;
        background: $accent-color;
        width: 100%;
        left: 0;
        bottom: 0;
        height: .7em;
        z-index: -1;
    }
}

.nav {
    position: fixed;
    width: $nav-width;
    height: $nav-height;
    top: 0px;
    left: 0px;
    z-index: $nav-z-index;
    display: flex;
    justify-content: space-between;
    background-color: $nav-background;


    &--header {
        height: $nav-height;
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: $nav-background;
        padding: $nav-padding;
    }

    &__logo {
        width: 56px;
        height: 56px;
        z-index: $nav-z-index;

        .logo {
            width: 56px;
            height: 56px;
        }
    }

    &__children {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        list-style-type: none;
        align-items: center;
        height: 100%;
        transform: translateY(0);

        &__item {
            font-weight: 700;
            color: $nav-link-color;
            transition: color .3s ease;
            padding: $nav-link-padding;
            margin: 0px .75rem;
            text-decoration: inherit;

            &:hover {
                color: $nav-link-color-hover;
            }

            &--active {
                position: relative;
                transition: color .0s ease;
                transition: border-bottom .25s ease-out;

                &::after {
                    content: "";
                    position: absolute;
                    background: $accent-color;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    height: .7em;
                    z-index: -1;
                }

                &:hover {
                    color: $nav-link-color;
                }
            }
        }
    }

    @media (max-width: $tablet-large) {
        &__children {
            display: block;
        }

        &__mobile {
            box-sizing: inherit;
            position: fixed;
            left: 0px;
            top: 0px;
            overflow: hidden;
            transition: $nav-mobile-transform-animation;
            transform: translateY(-100%);
            height: 100%;
            width: 100%;
            padding-top: $nav-height;
            background-color: $brand-danger;
            opacity: 0;
        }
        
        &__list {
            flex-direction: column;
            justify-content: space-around;

            &--dropdown {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                transform: translateY(0);
                opacity: 1;
            }

            &__item {
                font-size: 32px;
            }
        }
    }
}

// burger
$burger-size: $nav-height - ($nav-padding * 2);
$burger-anim-speed: 0.125s;
$burger-color: $dark-shade;

// want to update burger to be this...
// https://codepen.io/sonjastrieder/pen/wJPLEP
.burger {
    display: none;
    z-index: $nav-z-index;
}

@media (max-width: $tablet-large) {
    .burger {
        display: inline-block;
        font-size: 5rem;
        position: relative;
        width: $burger-size;
        height: $burger-size;
        padding: 0.8rem;
        border-radius: 50%;
        border: 2px solid $burger-color;
        background: radial-gradient(ellipse at center, $burger-color 5%, rgba($burger-color, 0) 7%);
        transition: background 0.125s;
        text-decoration: none;

        &:before, &:after {
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background-color: $burger-color;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            transition:
                left $burger-anim-speed ($burger-anim-speed * 2), right $burger-anim-speed ($burger-anim-speed * 2),
                width $burger-anim-speed $burger-anim-speed, height $burger-anim-speed $burger-anim-speed,
                transform ($burger-anim-speed * 2)
        }
        &:before {
            left: 0.23em;
        }
        &:after {
            right: 0.23em;
        }

        &.burger--active {
            background: radial-gradient(ellipse at center, rgba($burger-color,0) 4%, rgba($burger-color,0) 6%);
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
            &:before,
            &:after {
                width: 100%;
                height: 2px;
                border-radius: 2px;
                left: 0;
                right: 0;
                transition: 
                left $burger-anim-speed, right $burger-anim-speed,
                width $burger-anim-speed, height $burger-anim-speed,
                transform ($burger-anim-speed * 2) $burger-anim-speed;
            }
        }
    }
}

.footer--social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $nav-padding;

    &__email {
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        padding: $nav-padding;
        text-decoration: none;
        color: $dark-shade;
    }

    &__icon {

        &__img {

        }
    }
}