@import "../styles/variables";
@import "../styles/main";


.layout--max-width {
    margin: auto;
    max-width: $desktop;
}

.layout--content--max-width {
    max-width: 880px;
}

.layout--box-menu--sticky {
    position: sticky;
}

.page--content {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media (max-width: $tablet-large) {
    .mobile--hidden {
        display: none;
        opacity: 0;
    }
}



@media (max-width: $tablet-large) {
    .link::after {
        font-weight: 700;
        width: 100%;
    }
}