$primary-color: #FF3860;
$accent-color:  #79FF38;
$dark-shade: #3d171f;
$light-shade: #ebcad1;

$tablet-large: 768px;

.footer--social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;

    &__email {
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        padding: .5rem;
        text-decoration: none;
        color: $dark-shade;
    }

    &__icon {
        width: 30px;
        margin-top: 5px;

        &__img {
            width: 30px;
        }
    }
}

@media (min-width: $tablet-large) {

}
