@import "../styles/variables";

.footer--social {
    width: 100%;
    padding: .5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__email {
        color: $shade-1;
        padding: .5rem;
        border: 2px solid $shade-1;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }

    &__icon {
        width: 30px;
        margin-top: 5px;
        filter: brightness(0) invert(1);

        &__img {
            width: 30px;
        }
    }
}

@media (min-width: $tablet-large) {
    .footer--social {
        width: 25%;
        justify-content: end;

        &__icon {
            margin-right: 2.5rem;
        }
    }
}
