@import '../styles/variables';

.widget {
    position: relative;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--date {
            color: $shade-7;
            font-size: 1em;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
        }

        &--link {
            display: flex;
            flex-direction: column-reverse;
        }

        * {
            margin-right: 1rem;
        }
    }

    &__subTitle {
        color: $shade-9;
        margin: 1rem 0rem 2rem 0rem;
    }

    &__tags {
        margin: 1.5rem 0rem;

        * {
            margin-right: 1rem;
        }
    }

    &__link {
        position: absolute;
        bottom: -5px;
        right: 0px;
        color: $primary-color;
        font-size: 1.25em;
    }
}

@media (max-width: $tablet-large) {
    .widget {
        &__link {
            position: relative;
            margin-top: 1rem;
        }
    }
}

@media (max-width: $phone) {
    .widget {
        margin: 0rem 0rem 3rem;

        &__title {

            * {
                margin: 0rem;
            }

            &--logo, &--status {
                visibility: hidden;
                display: none;
            }
        }
        &__subTitle {
            margin: 1rem 0rem;
        }
        &__tags {
            margin: 1rem 0rem;
            * { margin-right: 0.5rem }
        }

        &__header {
            flex-direction: column;
            align-items: unset;
        }
    }
}