@import '../styles/variables';

.widget {
    position: relative;
    margin: 1rem 1rem 4rem 0rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--date {
            color: $shade-7;
            font-size: 1em;
            font-weight: 700;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        &--link {
            display: flex;
            flex-direction: column-reverse;

            &::before {
                content: "";
                height: 2px;
                border-radius: 15px;
                // background-color: $primary-color;
                width: 100%;
            }
        }

        * {
            margin-right: 1rem;
        }
    }

    &__subTitle {
        color: $shade-9;
        margin: 1rem 0rem 2rem 0rem;
    }

    &__tags {
        margin: 1.5rem 0rem;

        * {
            margin-right: 1.5rem;
        }
    }

    &__description {
        font-size: 1.25em;
        font-weight: 700;
        margin-right: 2.5rem;
        padding-bottom: 3rem;
    }

    &__link {
        position: absolute;
        bottom: 0px;
        right: 0px;
        color: $primary-color;
        font-weight: 700;
        font-size: 1.25em;
    }
}